@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body{
	font-family: sans-serif;
}

h1{
	color: #99004c;
}

figcaption{
	font-size:
}

dl{
	overflow: hidden;
}

dt{
	float:left;
	clear: left;
}

dd{
	float:left;
	margin: 0;
	padding: 0;
}
